<nav class="gnb_kr">
    <button class="nav-toggle">
        <img src="/assets/img/nav_menu.svg" class="nav-menu">
    </button>
    <ul class="gnb__list">
        <li>
            <a href="/views/en/about_us/sub1000.html">About Us</a>
        </li>
        <li class="has-sub">
            <a href="/views/en/canada_intro/sub1000.html">Study in Canada</a>
            <ul class="sub">
            <li><a href="/views/en/canada_intro/sub1000.html">Why study in Canada?</a></li>
            <li><a href="/views/en/canada_intro/sub2000.html">Vancouver: Your Top Study Destination</a></li>
            <li><a href="/views/en/canada_intro/sub3000.html">Public vs. Private Schools</a></li>
            </ul>
        </li>

        <li class="has-sub">
            <a href="/views/en/early_abroad/sub1000.html">K-12 Study Abroad Program</a>
            <ul class="sub">
            <li><a href="/views/en/early_abroad/sub1000.html">Parent-Accompanied Study Abroad</a></li>
            <li><a href="/views/en/early_abroad/sub2000.html">Tuition-Free Public Schools</a></li>
            <li><a href="/views/en/early_abroad/sub3000.html">Catholic Private Schools</a></li>
            <li><a href="/views/en/early_abroad/sub4000.html">Guardianship Program</a></li>
            </ul>
        </li>

        <li class="has-sub">
            <a href="/views/en/academic_tutoring/sub1000.html">Academic Tutoring</a>
            <ul class="sub">
            <li><a href="/views/en/academic_tutoring/sub1000.html">Canada-Specific Tutoring Programs</a></li>
            <li><a href="/views/en/academic_tutoring/sub2000.html">Meet HERALD Tutoring Team</a></li>
            <li><a href="https://heraldtomorrow.com" target="_blank">Herald Student Reporters Canada</a></li>
            </ul>
        </li>

        <li class="has-sub">
            <a href="/views/en/univ_transfer/sub1000.html">Adult Study Programs</a>
            <ul class="sub">
            <li><a href="/views/en/univ_transfer/sub1000.html">High School Program</a></li>
            <li><a href="/views/en/univ_transfer/sub2000.html">University Transfer/AA</a></li>
            <li><a href="/views/en/univ_transfer/sub3000.html">English Studies Program</a></li>
            </ul>
        </li>
    </ul>
</nav>