<footer class="site-footer">
    <div class="footer__inner">
      <!-- 왼쪽 영역 -->
      <div class="footer__left">
        <div class="sp-row">
          <a href="/index.html" class="footer__brand footer-line">
            <img src="/assets/img/new_footer2.png" alt="HERALD UHAK CA 로고">
          </a>

          <a href="/index.html" class="footer__brand">
            <img src="/assets/img/new_footer.png" alt="HERALD UHAK CA 로고">
          </a>
        </div>

        <nav class="footer__links">
          <a href="/views/kr/about_us/sub1000.html">회사소개</a>
          <span class="sep">|</span>
          <a href="/views/kr/consult.html">상담예약</a>
          <span class="sep">|</span>
          <a href="/views/kr/academic_tutoring/sub1000.html">프로그램</a>
        </nav>

        <p class="footer__copy">
          Copyright © 2025 <strong>Digital Herald Co.,</strong> Ltd. All Rights Reserved.<br>
          4F, 6 Namdaemun-ro 10-gil, Jung-gu, Seoul, Republic of Korea (04539)
        </p>
        <p class="footer__copy">
          Copyright © 2025 <strong>KoreaHerald Education Canada Inc.</strong> All Rights Reserved.<br>
          400–601 West Broadway, Vancouver, British Columbia, Canada V5Z 4C2 
        </p>
        <p class="consulting-time">
          <strong>상담</strong><br>
          주중 09:00 - 20:00&emsp;토요일 10:00 - 16:00
        </p>
      </div>
    </div>
</footer>