<nav class="gnb_kr">
    <button class="nav-toggle">
        <img src="/assets/img/nav_menu.svg" class="nav-menu">
    </button>
    <ul class="gnb__list">
        <li>
            <a href="/views/kr/about_us/sub1000.html">회사소개</a>
        </li>

        <li class="has-sub">
            <a href="/views/kr/canada_intro/sub1000.html">캐나다 유학소개</a>
            <ul class="sub">
                <li><a href="/views/kr/canada_intro/sub1000.html">캐나다유학, 무엇이 특별한가?</a></li>
                <li><a href="/views/kr/canada_intro/sub2000.html">밴쿠버, 최고의 유학선택</a></li>
                <li><a href="/views/kr/canada_intro/sub3000.html">공립, 사립학교 비교와 추천</a></li>
            </ul>
        </li>

        <li class="has-sub">
            <a href="/views/kr/early_abroad/sub1000.html">조기유학 프로그램</a>
            <ul class="sub">
                <li><a href="/views/kr/early_abroad/sub1000.html">부모 동반 유학</a></li>
                <li><a href="/views/kr/early_abroad/sub2000.html">공립학교 무상 교육</a></li>
                <li><a href="/views/kr/early_abroad/sub3000.html">천주교 사립학교</a></li>
                <li><a href="/views/kr/early_abroad/sub4000.html">관리형 유학</a></li>
            </ul>
        </li>

        <li class="has-sub">
            <a href="/views/kr/academic_tutoring/sub1000.html">아카데믹 튜터링</a>
            <ul class="sub">
                <li><a href="/views/kr/academic_tutoring/sub1000.html">캐나다전용 프로그램</a></li>
                <li><a href="/views/kr/academic_tutoring/sub2000.html">아카데믹 튜터링 강사진</a></li>
                <li><a href="https://heraldtomorrow.com" target="_blank">헤럴드 학생기자단 캐나다</a></li>
            </ul>
        </li>

        <li class="has-sub">
            <a href="/views/kr/univ_transfer/sub1000.html">밴쿠버 성인유학</a>
            <ul class="sub">
                <li><a href="/views/kr/univ_transfer/sub1000.html">고등학교 과정</a></li>
                <li><a href="/views/kr/univ_transfer/sub2000.html">대학 편입/준학사 과정</a></li>
                <li><a href="/views/kr/univ_transfer/sub3000.html">영어ESL 프로그램</a></li>
            </ul>
        </li>
    </ul>
</nav>